// Variable
@import 'variable';

// general
* {
    -webkit-font-smoothing: antialiased;
    font-family: $font-sans;
    --custom-font-size: 18px;
}

// bootstrap
.container {
    @media screen and (min-width: 1680px){
        max-width: 1530px;
    }

    @media screen and (max-width: 991.98px){
        padding-right: 30px;
        padding-left: 30px;
    }
}

html, body {
    font-size: var(--custom-font-size);
    font-weight: normal;
    line-height: 1.75;
    letter-spacing: 1px;
    color: $color-black;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5 {
    font-family: $font-title;
    color: $color-black;
}

h1 {
    // font-size: 54px;
    font-size: 3rem;
    font-weight: bold;
    line-height: 1.33;
    letter-spacing: 1px;

    @media screen and (max-width: 1600px){
        // font-size: 42px;
        font-size: 2.3rem;
    }

    @media screen and (max-width: 991.98px){
        // font-size: 36px;
        font-size: 2rem;
    }

    @media screen and (max-width: 374.98px) {
        // font-size: 30px;
        font-size: 1.67rem;
    }
}

h2, .size-h2 {
    // font-size: 48px;
    font-size: 2.67rem;
    font-weight: bold;
    line-height: 1.25;
    letter-spacing: 1px;
    color: $color-blue;

    @media screen and (max-width: 1600px){
        // font-size: 38px;
        font-size: 2.1rem;
    }

    @media screen and (max-width: 991.98px){
        // font-size: 32px;
        font-size: 1.7rem;
    }

    @media screen and (max-width: 374.98px) {
        // font-size: 26px;
        font-size: 1.4rem;
    }
}

h3, .size-h3 {
    // font-size: 42px;
    font-size: 2.3rem;
    font-weight: bold;
    line-height: 1.3;
    letter-spacing: 1px;
    color: $color-blue;

    @media screen and (max-width: 1600px){
        // font-size: 34px;
        font-size: 1.89remx;
    }

    @media screen and (max-width: 991.98px){
        // font-size: 28px;
        font-size: 1.56rem;
    }

    @media screen and (max-width: 374.98px) {
        // font-size: 22px;
        font-size: 1.2rem;
    }
}

h4, .size-h4 {
    // font-size: 20px;
    font-size: 1.11rem;
    font-weight: 600;
    line-height: 1;
    letter-spacing: 1px;
    color: $color-purple;

    @media screen and (max-width: 1600px){
        // font-size: 18px;
        font-size: 1rem;
    }

    @media screen and (max-width: 991.98px){
        // font-size: 20px;
        font-size: 1.11rem;
    }

    @media screen and (max-width: 374.98px) {
        // font-size: 18px;
        font-size: 1rem;
    }
}

h5, .size-h5 {
    // font-size: 24px;
    font-size: 1.3rem;
    font-weight: bold;
    line-height: 1.5;
    letter-spacing: 1px;
    color: $color-blue;

    @media screen and (max-width: 1600px){
        // font-size: 20px;
        font-size: 1.11rem;
        line-height: 1.3;
    }

    @media screen and (max-width: 991.98px){
        // font-size: 18px;
        font-size: 1rem;
    }
}

h6, .size-h6 {
    // font-size: 16px;
    font-size: 0.89rem;
    font-weight: bold;
    line-height: 1;
    letter-spacing: 0.5px;
    color: $color-blue;
    margin: 0;

    @media screen and (max-width: 991.98px) {
        // font-size: 15px;
        font-size: 0.83rem;
        letter-spacing: 1px;
    }
}


p {
    // font-size: 18px;
    font-size: 1rem;
    line-height: 1.75;
    letter-spacing: 1px;

    @media (max-width: 1600px){
        // font-size: 16px;
        font-size: 0.89rem;
    }

    @media screen and (max-width: 374.98px) {
        // font-size: 15px;
        font-size: 0.83rem;
    }
}

ul, li {
    margin: 0;
    padding: 0;
}

//--- Update Textarea Style Start ---//
input,
textarea {
    width: 100%;
    border-radius: 2px;
    border: solid 1px $color-border-gray;
    background-color: $color-white;
    padding: 11px 15px;
    transition: 0.3s;
    font-size: 0.89rem;

    &::placeholder {
        // font-size: 16px;
        font-size: 0.89rem;
        letter-spacing: 0.5px;
        line-height: 1.5;
        color: rgba($color-black, 0.5);
    }

    &:focus {
        border-color: $color-blue !important;
        outline: none !important;
        box-shadow: none !important;
    }
}

input {
    // height: 46px;
    min-height: 2.875rem;
    margin-bottom: 15px;

    @media (max-width: 1600px) {
        margin-bottom: 10px;
    }
}

textarea {
    min-height: 2.875rem;
}
//--- Update Textarea Style End ---//

section {
    padding: 120px 0;

    @media (max-width: 1600px){
        padding: 100px 0;
    }

    @media (max-width: 991.98px){
        padding: 50px 0;
    }

    .sub-title {
        display: inline-block;
        margin-bottom: 0.5rem;
    }
}

button {
    border: none;

    &:hover {
        cursor: pointer;
    }

    &:focus-visible {
        outline: 5px dashed red;
    }
    &:focus:not(:focus-visible) {
        outline: none;
    }
}

.button {
    border-radius: 28px;
    text-align: center;
    // font-size: 16px;
    font-size: 0.89rem;
    font-weight: 600;
    letter-spacing: 0.5px;
    line-height: 1;
    transition: 0.3s;

    @media screen and (max-width: 374.98px) {
        // font-size: 15px;
        font-size: 0.83rem;
    }

    &:hover,
    &:active,
    &:focus {
        text-decoration: none;
    }
}

// button size
.button-default {
    min-width: 180px;
    padding: 20px 25px;

    @media (max-width: 1600px) {
        padding: 15px 25px;
    }

    @media screen and (max-width: 374.98px) {
        padding: 16px 25px;
    }
}

.button-small {
    min-width: 90px;
    padding: 10px 16px;
    // font-size: 14px;
    font-size: 0.78rem;

    @media (max-width: 991.98px) {
        padding: 8px 10px;
    }
}

.button-block-level {
    width: 100%;
    padding: 20px 25px;

    @media (max-width: 1600px) {
        padding: 18px 25px;
    }

    @media screen and (max-width: 374.98px) {
        padding: 16px 25px;
    }
}

.button-round {
    padding: 8px;
    // width: 32px;
    // height: 32px;
}

// button color
.button-normal {
    background-color: $color-white;
    color: $color-blue;
    border: 1px solid $color-blue;
}

.button-normal:hover,
.button-normal:focus:not(:focus-visible),
.button-normal:active,
.button-normal.active {
    background-color: $color-blue;
    color: $color-white;
}

.button-primary {
    background-color: $color-purple;
    color: $color-white;
    border: 1px solid $color-purple;
}

.button-primary:hover,
.button-primary:focus:not(:focus-visible),
.button-primary:active {
    background-color: $color-green;
    color: $color-purple;
    border: 1px solid $color-green;
}

.button-normal:disabled,
.button-primary:disabled {
    border: solid 1px rgba($color-blue, 0.1);
    background-color: rgba($color-blue, 0.1);
    color: rgba($color-blue, 0.3);
}

.button-special-pink {
    // background-color: $color-pink;
    background-color: $color-aria-pink;
    color: $color-white;
}

.button-special-pink:hover,
.button-special-pink:focus:not(:focus-visible),
.button-special-pink:active {
    // background-color: $color-yellow;
    background-color: $color-aria-yellow;
    color: $color-white;
}

.button-special-yellow {
    background-color: $color-yellow;
    color: $color-white;
}

.button-special-yellow:hover,
.button-special-yellow:focus:not(:focus-visible),
.button-special-yellow:active {
    background-color: $color-pink;
    color: $color-white;
}

.button-aircraft {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 36px;

    &::before {
        content: '';
        display: block;
        margin-right: 10px;
        // width: 31px;
        // height: 20px;
        width: 1.72rem;
        height: 1.11rem;
        background-image: url('../images/icon/hand_drawn/icon_airplane.svg');
        background-repeat: no-repeat;
        background-size: contain;
    }

    &:hover::before,
    &:active::before,
    &:focus:not(:focus-visible)::before {
        background-image: url('../images/icon/hand_drawn/icon_airplane_purple.svg');
    }
}

.form-wrap {
    border-radius: 6px;
    box-shadow: 0 21px 42px 0 rgba(46, 47, 107, 0.1);
    border: solid 1px rgba(113, 50, 255, 0.1);
    background-color: $color-white;
    padding: 45px 60px 30px;
    margin: 0 auto;
    width: 80%;

    .title {
        color: $color-blue;
        margin-bottom: 15px;
    }

    p {
        opacity: 0.5;
        // font-size: 16px;
        font-size: 0.89rem;
        line-height: 1.5;
        letter-spacing: 1px;
        text-align: center;
        color: $color-light-black;
        margin: 0;
    }

    .button {
        margin: 25px 0 10px;
    }

    .google-robot {
        width: 300px;
        height: 74px;
        background-image: url('../images/reCAPTCHA.png');
        background-size: cover;
        margin: 10px auto 0;
    }

    // --- Update Dropdown Style Start --- //
    .select-css {
        display: block;
        // font-size: 16px;
        font-size: 0.89rem;
        letter-spacing: 0.5px;
        line-height: 1.5;
        font-family: $font-sans;
        color: $color-black;
        // padding: 11px 15px;
        padding: 11px 1.5rem 11px 15px;
        width: 100%;
        max-width: 100%;
        // height: 46px;
        min-height: 2.875rem;
        box-sizing: border-box;
        margin: 0 0 15px;
        border: 1px solid $color-border-gray;
        box-shadow: none;
        border-radius: 2px;
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        background-color: $color-white;
        background-image: url(../images/icon/ui/dropdown.svg);
        background-repeat: no-repeat,repeat;
        background-position: right 15px top 50%, 0 0;
        background-size: 9px, 100%;

        &:focus {
            border-color: $color-blue;
            outline: none;
        }

        @media (max-width: 1600px) {
            margin-bottom: 10px;
        }
    }
    // --- Update Dropdown Style End --- //

    @media (max-width: 1600px){
        width: 100%;

        .button {
            margin: 20px 0 10px;
        }
    }
}

#nav {
    background-color: $color-white;
    border-bottom: 1px solid $color-gray;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;

    // Add Announcement Bar Start
    .topbar {
        background-color: $color-purple;
        padding: 9px 30px;
        text-align: center;

        a {
            // font-size: 14px;
            font-size: 0.78rem;
            line-height: 1.3;
            letter-spacing: 0.5px;
            text-align: center;
            color: #ffffff;
            display: block;

            @media screen and (max-width: 991.98px) {
                // font-size: 12px;
                font-size: 0.67rem;
                letter-spacing: 0;
            }

            &:hover,
            &:active,
            &:focus {
                text-decoration: underline;
            }
        }
    }
    // Add Announcement Bar End

    .menu-wrap {
        list-style-type: none;

        li {
            a:not(.button) {
                width: 100%;
                height: 100%;
                // font-size: 16px;
                font-size: 0.89rem;
                letter-spacing: 0.5px;
                color: $color-blue;
            }

            a:not(.button):hover,
            a.active {
                color: $color-purple;
                text-decoration: none;
            }
        }
    }

    .pc-nav {
        width: 100%;
        min-height: 90px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media screen and (max-width: 991.98px) {
            display: none;
        }

        .logo-wrap {
            width: 135px;
            height: 40px;

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }

        .menu-wrap {
            // min-height: 90px;
            margin: 1rem;
            display: flex;
            align-items: center;
            // justify-content: center;
            justify-content: flex-start;
            flex-wrap: wrap;

            li {
                display: inline-block;
            }

            li + li {
                margin-left: 30px;
            }
        }

        .btn-wrap {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            gap: 10px;
        }
    }

    .mobile-wrap {
        display: none;

        @media screen and (max-width: 991.98px) {
            display: block;
        }
        
        .mobile-nav {
            width: 100%;
            height: 60px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-bottom: 1px solid $color-gray;

            .logo-wrap {
                width: 118px;
                height: 35px;
    
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }

            .cta-wrap {
                display: inline-flex;
                align-items: center;

                .button {
                    @media screen and (max-width: 374.98px) {
                        display: none;
                    }
                }

                .menu-btn {
                    display: inline-flex;
                    flex-direction: column;
                    margin-left: 30px;

                    &.active {
                        align-items: center;
                        justify-content: center;

                        span:nth-of-type(1) {
                            transform-origin: 50% 50%;
                            transform: translateY(3px) rotate(45deg);
                        }
                        
                        span:nth-of-type(2) {
                            display: none;
                        }

                        span:nth-of-type(3) {
                            transform-origin: 50% 50%;
                            transform: translateY(-3px) rotate(-45deg);
                        }
                    }

                    span {
                        width: 18px;
                        height: 2px;
                        background-color: $color-purple;
                        transition: 0.3s;
                    }
                    span + span {
                        margin-top: 4px;
                    }
                }
            }
        }

        .mobile-menu-wrap {
            display: none;

            &.active {
                padding: 10px 0 30px;
                width: 100%;
                height: calc(100vh - 109px);
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                overflow-y: scroll;

                @media screen and (max-width: 375px) {
                    height: calc(100vh - 124px);
                }

                .menu-wrap {
                    margin-bottom: 15px;

                    li {
                        padding: 15px 0;
                        border-bottom: 1px solid rgba(113, 50, 255, 0.1);

                        @media screen and (max-width: 374.98px) {
                            padding: 10px 0;
                        }

                        a {
                            display: block;
                        }
                    }
                }
            }
        }
    }
}

.full-page {
    width: 100%;
    height: 100vh;
}

#hero {
    background-color: $color-blue;
    position: relative;
    // height: calc(100vh - 127px);
    height: auto;
    min-height: 720px;
    // margin-top: 127px;
    margin-top: var(--nav-height, 128px);
    // padding: 0;
    padding: 5rem 0;
    background-image: url('../images/illustration/hero_desktop_bg.svg');
    background-position: right top;
    background-repeat: no-repeat;
    background-size: 62.8%;
    
    @media screen and (max-width: 991.98px) {
        background-size: 100%;
        margin-top: 109px;
        padding-top: 70%;
        min-height: unset;
        height: auto;
        background-image: url('../images/illustration/hero_mobile_bg.svg');
    }

    @media screen and (max-width: 375px) {
        margin-top: 124px;
    }

    .form-wrap {
        @media screen and (max-width: 991.98px) {
            display: none;
        }
    }

    .text-wrap {
        width: 100%;
        word-break: break-all;

        .button {
            display: none;

            @media screen and (max-width: 991.98px) {
                display: inline-flex;
                margin: 20px 0 40px;
            }

            @media screen and (max-width: 575.98px) {
                display: flex;
            }
        }

        h1 {
            color: $color-green;
        }

        p {
            color: $color-gray;
        }

        ul {
            list-style-type: none;
            
            li {
                // font-size: 18px;
                font-size: 1rem;
                line-height: 1.75;
                letter-spacing: 1px;
                color: $color-gray;
                // padding-left: 35px;
                padding-left: 1.94rem;
                position: relative;

                &::before {
                    content: url('../images/icon/ui/check.svg');
                    position: absolute;
                    left: 0;
                    top: 4px;
                    // width: 20px;
                    // height: 24px;
                    width: 1.11rem;
                    height: 1.33rem;

                    @media (max-width: 991.98px){
                        width: 15px;
                        height: 18px;
                    }
                }

                &+li {
                    margin-top: 5px;
                }

                @media (max-width: 1600px){
                    // font-size: 16px;
                    font-size: 0.89rem;
                }

                @media screen and (max-width: 374.98px) {
                    // font-size: 15px;
                    font-size: 0.83rem;
                }
            }
        }
    }

    .scroll-down {
        width: 25px;
        position: absolute;
        left: 50%;
        bottom: 30px;
        transform: translateX(-50%);
        z-index: 999;

        @media screen and (max-width: 991.98px) {
            display: none;
        }

        .button-scroll-down {
            padding: 20px;
            position: relative;
            top: 0;
            opacity: 1;
            transition: 0.3s;

            &:hover {
                top: 5px;
                opacity: 0.5;
            }
        }
    }
}

#benefits {
    .benefits-wrap {
        display: flex;
        flex-wrap: wrap;
        margin-top: 60px;

        h5 {
            margin-bottom: 5px;
        }

        p {
            margin: 0;
            line-height: 1.5;
        }

        @media (max-width: 1600px){
            margin-top: 40px;
        }

        .benefits-item {
            width: calc(50% - 15px);
            padding: 40px 40px 30px;
            border: 1px solid rgba($color-purple, 0.1);
            border-radius: 6px;
            background-color: $color-white;
            transition: 0.3s;

            @media (max-width: 1600px){
                width: calc(50% - 10px);
                padding: 30px 30px 25px;
            }

            @media screen and (max-width: 991.98px) {
                width: 100%;
                margin-bottom: 15px;
            }

            @media screen and (max-width: 374.98px) {
                padding: 25px 20px 20px;
            }

            &:nth-child(odd) {
                margin-right: 30px;

                @media (max-width: 1600px){
                    margin-right: 20px;
                }

                @media screen and (max-width: 991.98px) {
                    margin-right: 0;
                }
            }

            &:nth-child(n+3) {
                margin-top: 30px;

                @media (max-width: 1600px){
                    margin-top: 20px;
                }

                @media screen and (max-width: 991.98px) {
                    margin-top: 0;
                }
            }

            &:hover {
                background-color: rgba($color-purple, 0.05);

                &:nth-child(4n+1),
                &:nth-child(4n+4) {
                    background-color: rgba($color-pink, 0.05);
                }
            }
            
            .benefits-title {

            }

            .benefits-icon {
                height: 50px;
                margin-bottom: 10px;

                img {
                    height: 100%;
                }
            }
        }
    }
}

#testimonials {
    background-color: $color-light-gray;

    .testimonials-carousel {
        .carousel-inner {
            .carousel-item {

                .img-fluid {
                    @media screen and (max-width: 991.98px) {
                        width: 75%;
                        position: relative;
                        left: 50%;
                        transform: translateX(-50%);
                    }

                    @media screen and (max-width: 575.98px) {
                        width: 100%;
                    }
                }

                .mobile-title {
                    display: none;
                    // font-size: 32px;
                    font-size: 1.78rem;
                    margin-bottom: 36px;

                    @media screen and (max-width: 991.98px) {
                        display: block;
                    }
                }

                &:nth-child(1) {
                    .testimonials-card::after {
                        background-image: url(../images/icon/ui/quote_purple.svg);
                    }
                }

                &:nth-child(2) {
                    .testimonials-card::after {
                        background-image: url(../images/icon/ui/quote_green.svg);
                    }
                }

                &:nth-child(3) {
                    .testimonials-card::after {
                        background-image: url(../images/icon/ui/quote_yellow.svg);
                    }
                }

                .testimonials-wrap {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    height: 100%;

                    .testimonials-header {
                        h2 {
                            @media screen and (max-width: 991.98px) {
                                display: none;
                            }
                        }

                        .testimonials-card {
                            position: relative;
                            margin-top: 40px;
                            padding-top: 20px;
                            padding-right: 50px;

                            @media screen and (max-width: 991.98px) {
                                margin-top: 12px;
                                // font-size: 18px;
                                font-size: 1rem;
                            }

                            @media screen and (max-width: 575.98px) {
                                padding-right: 0;
                            }

                            @media screen and (max-width: 374.98px) {
                                // font-size: 15px;
                                font-size: 0.83rem;
                            }

                            &::after {
                                content: '';
                                width: 70px;
                                height: 70px;
                                position: absolute;
                                top: 0;
                                left: 0;
                                background-size: contain;
                                background-repeat: no-repeat;
                            }
                        }
                    }
    
                    .testimonials-footer {
                        margin-top: auto;

                        @media screen and (max-width: 991.98px) {
                            margin: 40px 0;
                        }
    
                        > div {
                            display: inline-block;
                        }
    
                        .testimonials-logo {
                            height: 60px;
                            margin-right: 20px;

                            @media screen and (max-width: 374.98px) {
                                margin-right: 10px;
                            }

                            &.logo-h {
                                height: 25px;
                            }
    
                            img {
                                height: 100%;
                            }
                        }
    
                        .testimonials-position {
                            font-weight: 600;
                            line-height: 1.5;
                            letter-spacing: 0.5px;

                            @media screen and (max-width: 374.98px) {
                                // font-size: 15px;
                                font-size: 0.83rem;
                            }
                        }
                    }
                }
            }
        }

        .carousel-control-next,
        .carousel-control-prev {
            width: 56px;
            opacity: 1;
            background-color: $color-light-gray;

            @media screen and (max-width: 991.98px) {
                position: static;
                display: inline-block;
                margin-right: 20px;
            }

            &:hover {
                .control-wrap {
                    background-color: rgba($color-blue, 0.15);
                }
            }

            &:focus-within {
                .control-wrap {
                    outline: 5px solid #000;
                }
            }

            .control-wrap {
                width: 56px;
                height: 56px;
                background-color: rgba($color-blue, 0.05);
                border-radius: 50%;
                transition: 0.3s;
    
                img {
                    width: 10px;
                    height: 100%;
                }
            }
        }
    }
}

#integrations {
    background-color: $color-white;

    .partners-title {
        opacity: 0.7;
        color: $color-black;
        letter-spacing: 0.5px;
        margin-bottom: 60px;

        @media screen and (max-width: 1199.98px) {
            margin-bottom: 30px;
        }

        @media screen and (max-width: 991.98px) {
            margin: 50px 0;
        }
    }

    .button {
        @media screen and (max-width: 575.98px) {
            width: 100%;
        }
    }

    .partner-wrap {
        display: flex;
        flex-wrap: wrap;

        @media screen and (max-width: 991.98px) {
            justify-content: center;
        }    

        .partner-item {
            width: calc(20% - 16px);
            margin-right: 20px;
            filter: grayscale(1);

            @media screen and (max-width: 575.98px) {
                width: calc(33.33% - 12px);
                margin-right: 12px;
            }

            @media screen and (min-width: 575.99px) {
                &:nth-child(5n) {
                    margin-right: 0;
                }

                &:nth-child(n+6) {
                    margin-top: 35px;
                }
            }

            @media screen and (max-width: 575.98px) {
                &:nth-child(3n) {
                    margin-right: 0;
                }

                &:nth-child(n+4) {
                    margin-top: 35px;
                }
            }
        }
    }
}

#services {
    background-color: $color-light-gray;
    padding-bottom: 0;

    .service-illustration {
        margin-top: 60px;

        .img-fluid {
            @media screen and (max-width: 991.98px) {
                width: 75%;
                position: relative;
                left: 50%;
                transform: translateX(-50%);
            }

            @media screen and (max-width: 575.98px) {
                width: 100%;
            }
        }
    }

    .services-feature-wrap {
        h5 {
            margin-bottom: 5px;
        }

        p {
            // font-size: 16px;
            font-size: 0.89rem;
            margin: 0;
        }

        .services-item {
            padding: 30px;
            border: 1px solid rgba($color-purple, 0.1);
            border-radius: 6px;
            background-color: $color-white;
            box-shadow: 0 21px 42px 0 rgba($color-blue, 0.1);
            display: flex;
            flex-direction: row;

            @media screen and (max-width: 991.98px) {
                flex-direction: column;
            }

            @media screen and (max-width: 374.98px) {
                padding: 20px;
            }

            &+.services-item {
                margin-top: 20px;
            }

            .services-icon-wrap {
                display: flex;
                margin-right: 30px;
                
                .services-icon {
                    width: 100px;
                }
            }

            .service-content {
                display: flex;
                flex-direction: column;
                flex-grow: 1;

                p {
                    @media screen and (max-width: 374.98px) {
                        // font-size: 15px;
                        font-size: 0.83rem;
                    }
                }
            }
        }
    }

    .cta-service {
        padding: 80px 0;
        margin-top: 120px;
        text-align: center;
        background-color: rgba($color-blue, 0.05);

        .title {
            margin-bottom: 30px;

            @media screen and (max-width: 575.98px) {
                text-align: left;
            }

            @media screen and (max-width: 374.98px) {
                margin-bottom: 20px;
            }
        }

        .button {
            @media screen and (max-width: 575.98px) {
                width: 100%;
            }
        }

        @media (max-width: 1600px){
            padding: 70px 0;
            margin-top: 100px;
        }

        @media screen and (max-width: 991.98px) {
            margin-top: 50px;
        }

        @media screen and (max-width: 374.98px) {
            padding: 50px 0;
        }
    }
}

#how-it-works {
    background-color: rgba($color-yellow, 0.05);
    padding-bottom: 0;

    h2 {
        text-align: center;

        @media screen and (max-width: 991.98px) {
            text-align: left;
        }
    }

    .col-lg-3:nth-of-type(1) {
        .works-wrap {
            &::before {
                background-color: $color-purple;
                margin: 74px auto 59px;
            }
            &::after {
                background-image: url('../images/timeline/curve_up.svg');
            }
        }
    }
    .col-lg-3:nth-of-type(2) {
        .works-wrap {
            &::before {
                background-color: $color-green;
                margin: 103px auto 59px;
            }
            &::after {
                background-image: url('../images/timeline/curve_down.svg');
            }
        }
    }
    .col-lg-3:nth-of-type(3) {
        .works-wrap {
            &::before {
                background-color: $color-pink;
                margin: 74px auto 59px;
            }
            &::after {
                background-image: url('../images/timeline/curve_up.svg');
            }
        }
    }
    .col-lg-3:nth-of-type(4) {
        .works-wrap {
            &::before {
                background-color: $color-yellow;
                margin: 103px auto 59px;
            }
            &::after {
                @media screen and (max-width: 991.98px) {
                    border: none;
                }
            }
        }
    }

    .works-wrap {
        position: relative;

        @media screen and (max-width: 991.98px) {
            margin-top: 40px;
        }

        &::before {
            content: '';
            display: block;
            // width: 40px;
            // height: 40px;
            width: 2.22rem;
            height: 2.22rem;
            // border-radius: 100px;
            border-radius: 100rem;

            @media screen and (max-width: 991.98px) {
                width: 20px;
                height: 20px;
                position: absolute;
                left: 0;
                top: 0;
                margin: 36px 10px 0 !important;
            }
        }
        
        &::after {
            content: '';
            display: block;
            width: 290px;
            height: 50px;
            background-size: contain;
            background-repeat: no-repeat;
            position: absolute;
            left: 65%;
            top: 0;

            @media screen and (max-width: 1600px) {
                width: 220px;
            }

            @media screen and (max-width: 1199.98px) {
                width: 180px;
            }

            @media screen and (max-width: 991.98px) {
                background-image: none !important;
                border-left: 2px dashed rgba($color-blue, 0.3);
                left: 19px;
                top: 65px;
                height: 100%;
            }
        }

        .works-item {
            background-color: $color-white;
            border-radius: 6px;
            box-shadow: 0 21px 42px 0 rgba(46, 47, 107, 0.1);
            border: solid 1px rgba(113, 50, 255, 0.1);
            padding: 25px 30px 30px;

            @media screen and (max-width: 1600px){
                padding: 20px 20px 25px;
            }

            @media screen and (max-width: 991.98px) {
                background-color: transparent;
                box-shadow: unset;
                padding: 0;
                margin-left: 60px;
                border: none;
            }

            .works-icon {
                width: 150px;
                height: 150px;
                margin: 0 auto 15px;

                @media screen and (max-width: 1600px){
                    width: 120px;
                    height: 120px;
                }

                @media screen and (max-width: 991.98px) {
                    width: 80px;
                    height: 80px;
                    margin: 0 0 5px;
                }

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }

            .work-title {
                line-height: 1.5;
                color: $color-blue;
                font-weight: bold;
                margin-bottom: 5px;

                @media screen and (max-width: 991.98px) {
                    line-height: 1.3;
                }
            }

            p {
                // font-size: 16px;
                font-size: 0.89rem;
                margin: 0;

                @media screen and (max-width: 991.98px) {
                    line-height: 1.5;
                }

                @media screen and (max-width: 374.98px) {
                    // font-size: 15px;
                    font-size: 0.83rem;
                }
            }
        }
    }

    .cta-howitworks {
        padding: 80px 0;
        margin-top: 120px;
        text-align: center;
        background-color: rgba($color-yellow, 0.1);

        .button {
            @media screen and (max-width: 575.98px){
                width: 100%;
            }
        }

        .title {
            margin-bottom: 30px;

            @media screen and (max-width: 575.98px){
                text-align: left;
            }
        }

        @media screen and (max-width: 1600px){
            padding: 70px 0;
            margin-top: 100px;
        }

        @media screen and (max-width: 991.98px){
            margin: 50px 0 0;
        }

        @media screen and (max-width: 374.98px) {
            padding: 50px 0;
        }
    }
}

#platform {
    position: relative;
    padding: 120px 0 60px;

    @media (max-width: 1600px){
        padding: 100px 0 50px;
    }

    @media screen and (max-width: 991.98px){
        padding: 50px 0;
    }

    .img-wrap {
        @media screen and (max-width: 991.98px) {
            width: 75%;
            position: relative;
            left: 50%;
            transform: translateX(-50%);
        }

        @media screen and (max-width: 575.98px) {
            width: 100%;
        }
    }

    &::after {
        content: '';
        display: block;
        width: 100%;
        height: 120px;
        background-color: $color-light-gray;
        position: absolute;
        z-index: -1;
        bottom: 0;
        left: 0;

        @media screen and (max-width: 1600px) {
            height: 95px;
        }

        @media screen and (max-width: 1199.98px) {
            height: 85px;
        }

        @media screen and  (max-width: 991.98px){
            content: none;
        }
    }

    .platform-tab-wrap {
        margin-top: 60px;

        @media screen and  (max-width: 1600px){
            margin-top: 40px;
        }

        .list-group {
            list-style-type: none;
            display: flex;
            flex-direction: row;
            
            li {
                width: 33.33%;

                &:first-child {
                    a {
                        border-radius: 6px 0 0 6px;
                    }
                }

                &:last-child {
                    a {
                        border-radius: 0 6px 6px 0;
                    }
                }

                a {
                    padding: 20px 0;
                    border: none;
                    border-radius: 0;
                    text-align: center;
                    // font-size: 16px;
                    font-size: 0.89rem;
                    font-weight: 600;
                    line-height: 1;
                    letter-spacing: 0.5px;
                    background-color: rgba(46, 47, 107, 0.05);
                    color: $color-blue;

                    @media screen and (max-width: 374.98px) {
                        // font-size: 15px;
                        font-size: 0.83rem;
                    }

                    &:hover {
                        background-color: rgba(46, 47, 107, 0.15);
                    }

                    &.active {
                        background-color: $color-purple;
                        color: $color-light-gray;
                        position: relative;

                        &::after {
                            content: '';
                            display: block;
                            width: 15px;
                            height: 15px;
                            transform: translateX(-50%) rotate(45deg);
                            position: absolute;
                            bottom: -7px;
                            left: 50%;
                            background-color: $color-purple;
                        }
                    }
                }
            }
        }

        .tab-content {
            margin-top: 60px;

            @media screen and  (max-width: 1600px){
                margin-top: 40px;
            }

            .tab-pane {
                .img-icon {
                    width: 40px;
                    height: 100%;
                    margin-right: 34px;
                    float: left;

                    @media screen and  (max-width: 991.98px){
                        float: none;
                    }

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                    }
                }

                .text-wrap {
                    margin-left: 84px;

                    @media screen and  (max-width: 991.98px){
                        margin: 10px 0 0;
                    }

                    .title {
                        margin-bottom: 10px;
                    }

                    p {
                        margin: 0;
                    }
                }
            }
        }
    }

    .img-wrap {
        @media screen and (max-width: 1600px) {
            margin-top: 100px;
        }

        @media screen and (max-width: 1199.98px) {
            margin-top: 155px;
        }

        @media screen and (max-width: 991.98px){
            margin: 30px 0 0;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}

#faq {
    padding: 60px 0 120px;
    background-color: $color-light-gray;

    @media (max-width: 1600px){
        padding: 50px 0 100px;
    }

    @media screen and (max-width: 991.98px){
        padding: 50px 0;
    }

    h2 {
        text-align: center;
        margin-bottom: 60px;

        @media (max-width: 1600px){
            margin-bottom: 40px;
        }

        @media screen and (max-width: 991.98px){
            text-align: left;
            margin-bottom: 30px;
        }
    }

    .faq-wrap {
        .faq-item {
            padding: 17px 20px 18px;
            border-bottom: 1px solid $color-border-gray;

            @media screen and (max-width: 991.98px){
                padding: 15px 0;
            }

            .faq-header {
                span {
                    display: block;
                    // font-size: 18px;
                    font-size: 1rem;
                    line-height: 1.75;
                    letter-spacing: 1px;
                    color: $color-light-black;
                    position: relative;
                    margin: 0;
                    cursor: pointer;
                    transition: 0.3s;

                    @media (max-width: 1600px){
                        // font-size: 16px;
                        font-size: 0.89rem;
                    }

                    @media screen and (max-width: 991.98px){
                        padding-right: 34px;
                        // font-size: 16px;
                        font-size: 0.89rem;
                    }

                    @media screen and (max-width: 374.98px){
                        // font-size: 15px;
                        font-size: 0.8rem;
                    }

                    &::after {
                        content: '';
                        display: block;
                        width: 14px;
                        height: 8px;
                        position: absolute;
                        right: 0;
                        top: 50%;
                        transform-origin: 50% 50%;
                        transform: translateY(-50%) rotate(180deg);
                        background-image: url('../images/icon/ui/angle_up.svg');
                        background-repeat: no-repeat;
                        background-size: contain;
                        cursor: pointer;

                        @media screen and (max-width: 991.98px){
                            top: 15px;
                        }
                    }

                    &:hover {
                        cursor: pointer;
                        color: $color-purple;
                        text-decoration: none;

                        @media screen and (max-width: 991.98px){
                            color: $color-light-black;
                        }
                    }
                }

                &.active {
                    span {
                        font-weight: bold;
                        color: $color-blue;

                        @media screen and (max-width: 991.98px){
                            color: $color-light-black;
                        }

                        &::after {
                            transform: translateY(-50%) rotate(0deg);
                        }
                    }
                }
            }

            .faq-body {
                // font-size: 16px;
                font-size: 0.89rem;
                padding-right: 55px;
                overflow: hidden;
                height: 0;
                transition: 0.3s;

                &.active {
                    margin-top: 15px;
                    height: auto;
                }

                @media (max-width: 1600px){
                    // font-size: 16px;
                    font-size: 0.89rem;
                }

                @media screen and (max-width: 991.98px){
                    // font-size: 16px;
                    font-size: 0.89rem;
                    color: $color-light-black;
                }

                @media screen and (max-width: 374.98px) {
                    // font-size: 15px;
                    font-size: 0.83rem;
                }
            }
        }
    }
}

#get-started {
    position: relative;

    .bg {
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: -1;
        bottom: 0;
        right: 0;
        background-color: #192330;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: right bottom;
            
            @media screen and (max-width: 991.98px) {
                object-fit: contain;
            }
        }
    }

    .form-wrap {
        @media screen and (max-width: 991.98px) {
            padding: 30px;
            margin-bottom: 70px;
            max-width: 490px;
        }

        @media screen and (max-width: 575.98px) {
            padding: 23px 20px 20px;
            max-width: 100%;
        }

        @media screen and (max-width: 374.98px) {
            padding-left: 15px;
            padding-right: 15px;
        }

        h5 {
            @media screen and (max-width: 991.98px) {
                // font-size: 32px;
                font-size: 1.78rem;
                margin-bottom: 20px;
            }

            @media screen and (max-width: 575.98px) {
                // font-size: 22px;
                font-size: 1.22rem;
            }
        }

        //--- Update Textarea Style in Mobile Start ---// 
        input,
        textarea {
            @media screen and (max-width: 991.98px) {
                // font-size: 16px;
                font-size: 0.89rem;
            }

            @media screen and (max-width: 374.98px) {
                // font-size: 15px;
                font-size: 0.83rem;
                padding-left: 10px;
                padding-right: 10px;
            }

            &::placeholder {
                @media screen and (max-width: 374.98px) {
                    // font-size: 15px;
                    font-size: 0.83rem;
                }
            }
        }
        //--- Update Textarea Style in Mobile End ---// 

        p {
            @media screen and (max-width: 991.98px) {
                // font-size: 14px;
                font-size: 0.78rem;
            }
        }

        .google-robot {
            width: 100%;
        }

        //--- Update Dropdown Style in Mobile Start ---// 
        .select-css {
            @media screen and (max-width: 991.98px) {
                // font-size: 16px;
                font-size: 0.89rem;
            }

            @media screen and (max-width: 374.98px) {
                // font-size: 15px;
                font-size: 0.83rem;
                padding-left: 10px;
                padding-right: 10px;
                background-position: right 10px top 50%, 0 0;
            }
        }
        //--- Update Dropdown Style in Mobile End ---// 

        .button {
            margin: 15px 0 5px;

            .pc-text {
                @media screen and (max-width: 991.98px) {
                    display: none;
                }
            }
    
            .mobile-text {
                display: none;
    
                @media screen and (max-width: 991.98px) {
                    display: inline;
                }
            }
        }
    }

    .address-wrap {
        margin: 55% 0 0 46%;
        padding: 30px;
        border-radius: 6px;
        box-shadow: 0 21px 42px 0 rgba(46, 47, 107, 0.1);
        border: solid 1px rgba(113, 50, 255, 0.1);
        background-color: $color-white;
        display: inline-flex;
        align-items: center;

        @media screen and (max-width: 1600px) {
            margin: 66% 0 0 36%;
        }

        @media screen and (max-width: 1440px) {
            margin: 66% 0 0 24%;
        }

        @media screen and (max-width: 1280px) {
            margin: 66% 0 0 11%;
        }

        @media screen and (max-width: 991.98px) {
            padding: 20px 25px;
            margin: 110% 0 0;
            display: flex;
        }

        @media screen and (max-width: 575.98px) {
            margin: 80% 0 0;
            transform: translateY(30px);
        }

        @media screen and (max-width: 374.98px) {
            margin: 70% 0 0;
            transform: translateY(55%);
        }

        .logo-wrap {
            width: 56px;
            height: 60px;
            margin-right: 28px;

            @media screen and (max-width: 575.98px) {
                display: none;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .text-wrap {
            .title {
                color: $color-blue;
            }

            p {
                // font-size: 14px;
                font-size: 0.78rem;
                line-height: 1;
                letter-spacing: 0.5px;
                color: $color-black;
                margin: 10px 0 0;

                @media screen and (max-width: 991.98px) {
                    // font-size: 13px;
                    font-size: 0.72rem;
                    margin: 8px 0 0;
                }
            }
        }
    }
}

footer {
    background-color: #192330;
    height: 76px;

    .copyright {
        // font-size: 16px;
        font-size: 0.89rem;
        line-height: 76px;
        letter-spacing: 0.5px;
        color: $color-white;
        text-align: center;
        margin: 0;

        @media screen and (max-width: 374.98px) {
            // font-size: 15px;
            font-size: 0.83rem;
        }
    }
}

//--- Add Success Modal Start ---//
#submitSuccessModal {
    .modal-dialog {
        max-width: 480px;

        .modal-content {
            border: none;
            border-radius: 6px;
            overflow: hidden;

            .modal-header {
                display: block;
                padding: 0;
                border: none;
                position: relative;

                .modal-cover {
                    width: 100%;
                }

                .close {
                    position: absolute;
                    top: 10px;
                    right: 10px;
                    margin: 0;
                    opacity: 1;
                    padding: 8px 17px;

                    &:hover {
                        opacity: 0.5;
                    }

                    span {
                        // font-size: 40px;
                        font-size: 2.22rem;
                        font-weight: 400;
                        color: $color-white;
                    }
                }
            }

            .modal-body {
                padding: 30px 30px 40px;

                p {
                    text-align: center;
                    margin: 0;
                }

                .modal-title {
                    text-align: center;
                    line-height: 1.25;
                    margin-bottom: 10px;
                }
            }
        }
    }

    @media (max-width: 575.98px) {
        .modal-dialog {
            max-width: calc(100% - 60px);
            margin: 0 auto;

            .modal-content {
                .modal-header {
                    .close {
                        top: 5px;
                        right: 5px;
                    }
                }

                .modal-body {
                    padding: 20px 30px 30px;
                }
            }
        }
    }
}


.jump-content {
    background-color: $color-aria-pink !important;
    color: $color-white !important;
    padding: 10px;
    
    &:focus-visible {
        outline: 5px solid $color-light-black;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 100;
    }
}