@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap");
* {
  -webkit-font-smoothing: antialiased;
  font-family: "Open Sans", sans-serif;
  --custom-font-size: 18px;
}

@media screen and (min-width: 1680px) {
  .container {
    max-width: 1530px;
  }
}
@media screen and (max-width: 991.98px) {
  .container {
    padding-right: 30px;
    padding-left: 30px;
  }
}

html, body {
  font-size: var(--custom-font-size);
  font-weight: normal;
  line-height: 1.75;
  letter-spacing: 1px;
  color: #0e0e0e;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5 {
  font-family: "Aileron", "Open Sans", sans-serif;
  color: #0e0e0e;
}

h1 {
  font-size: 3rem;
  font-weight: bold;
  line-height: 1.33;
  letter-spacing: 1px;
}
@media screen and (max-width: 1600px) {
  h1 {
    font-size: 2.3rem;
  }
}
@media screen and (max-width: 991.98px) {
  h1 {
    font-size: 2rem;
  }
}
@media screen and (max-width: 374.98px) {
  h1 {
    font-size: 1.67rem;
  }
}

h2, .size-h2 {
  font-size: 2.67rem;
  font-weight: bold;
  line-height: 1.25;
  letter-spacing: 1px;
  color: #2e2f6b;
}
@media screen and (max-width: 1600px) {
  h2, .size-h2 {
    font-size: 2.1rem;
  }
}
@media screen and (max-width: 991.98px) {
  h2, .size-h2 {
    font-size: 1.7rem;
  }
}
@media screen and (max-width: 374.98px) {
  h2, .size-h2 {
    font-size: 1.4rem;
  }
}

h3, .size-h3 {
  font-size: 2.3rem;
  font-weight: bold;
  line-height: 1.3;
  letter-spacing: 1px;
  color: #2e2f6b;
}
@media screen and (max-width: 1600px) {
  h3, .size-h3 {
    font-size: 1.89remx;
  }
}
@media screen and (max-width: 991.98px) {
  h3, .size-h3 {
    font-size: 1.56rem;
  }
}
@media screen and (max-width: 374.98px) {
  h3, .size-h3 {
    font-size: 1.2rem;
  }
}

h4, .size-h4 {
  font-size: 1.11rem;
  font-weight: 600;
  line-height: 1;
  letter-spacing: 1px;
  color: #7132ff;
}
@media screen and (max-width: 1600px) {
  h4, .size-h4 {
    font-size: 1rem;
  }
}
@media screen and (max-width: 991.98px) {
  h4, .size-h4 {
    font-size: 1.11rem;
  }
}
@media screen and (max-width: 374.98px) {
  h4, .size-h4 {
    font-size: 1rem;
  }
}

h5, .size-h5 {
  font-size: 1.3rem;
  font-weight: bold;
  line-height: 1.5;
  letter-spacing: 1px;
  color: #2e2f6b;
}
@media screen and (max-width: 1600px) {
  h5, .size-h5 {
    font-size: 1.11rem;
    line-height: 1.3;
  }
}
@media screen and (max-width: 991.98px) {
  h5, .size-h5 {
    font-size: 1rem;
  }
}

h6, .size-h6 {
  font-size: 0.89rem;
  font-weight: bold;
  line-height: 1;
  letter-spacing: 0.5px;
  color: #2e2f6b;
  margin: 0;
}
@media screen and (max-width: 991.98px) {
  h6, .size-h6 {
    font-size: 0.83rem;
    letter-spacing: 1px;
  }
}

p {
  font-size: 1rem;
  line-height: 1.75;
  letter-spacing: 1px;
}
@media (max-width: 1600px) {
  p {
    font-size: 0.89rem;
  }
}
@media screen and (max-width: 374.98px) {
  p {
    font-size: 0.83rem;
  }
}

ul, li {
  margin: 0;
  padding: 0;
}

input,
textarea {
  width: 100%;
  border-radius: 2px;
  border: solid 1px #dddddd;
  background-color: #ffffff;
  padding: 11px 15px;
  transition: 0.3s;
  font-size: 0.89rem;
}
input::placeholder,
textarea::placeholder {
  font-size: 0.89rem;
  letter-spacing: 0.5px;
  line-height: 1.5;
  color: rgba(14, 14, 14, 0.5);
}
input:focus,
textarea:focus {
  border-color: #2e2f6b !important;
  outline: none !important;
  box-shadow: none !important;
}

input {
  min-height: 2.875rem;
  margin-bottom: 15px;
}
@media (max-width: 1600px) {
  input {
    margin-bottom: 10px;
  }
}

textarea {
  min-height: 2.875rem;
}

section {
  padding: 120px 0;
}
@media (max-width: 1600px) {
  section {
    padding: 100px 0;
  }
}
@media (max-width: 991.98px) {
  section {
    padding: 50px 0;
  }
}
section .sub-title {
  display: inline-block;
  margin-bottom: 0.5rem;
}

button {
  border: none;
}
button:hover {
  cursor: pointer;
}
button:focus-visible {
  outline: 5px dashed red;
}
button:focus:not(:focus-visible) {
  outline: none;
}

.button {
  border-radius: 28px;
  text-align: center;
  font-size: 0.89rem;
  font-weight: 600;
  letter-spacing: 0.5px;
  line-height: 1;
  transition: 0.3s;
}
@media screen and (max-width: 374.98px) {
  .button {
    font-size: 0.83rem;
  }
}
.button:hover, .button:active, .button:focus {
  text-decoration: none;
}

.button-default {
  min-width: 180px;
  padding: 20px 25px;
}
@media (max-width: 1600px) {
  .button-default {
    padding: 15px 25px;
  }
}
@media screen and (max-width: 374.98px) {
  .button-default {
    padding: 16px 25px;
  }
}

.button-small {
  min-width: 90px;
  padding: 10px 16px;
  font-size: 0.78rem;
}
@media (max-width: 991.98px) {
  .button-small {
    padding: 8px 10px;
  }
}

.button-block-level {
  width: 100%;
  padding: 20px 25px;
}
@media (max-width: 1600px) {
  .button-block-level {
    padding: 18px 25px;
  }
}
@media screen and (max-width: 374.98px) {
  .button-block-level {
    padding: 16px 25px;
  }
}

.button-round {
  padding: 8px;
}

.button-normal {
  background-color: #ffffff;
  color: #2e2f6b;
  border: 1px solid #2e2f6b;
}

.button-normal:hover,
.button-normal:focus:not(:focus-visible),
.button-normal:active,
.button-normal.active {
  background-color: #2e2f6b;
  color: #ffffff;
}

.button-primary {
  background-color: #7132ff;
  color: #ffffff;
  border: 1px solid #7132ff;
}

.button-primary:hover,
.button-primary:focus:not(:focus-visible),
.button-primary:active {
  background-color: #01e4b3;
  color: #7132ff;
  border: 1px solid #01e4b3;
}

.button-normal:disabled,
.button-primary:disabled {
  border: solid 1px rgba(46, 47, 107, 0.1);
  background-color: rgba(46, 47, 107, 0.1);
  color: rgba(46, 47, 107, 0.3);
}

.button-special-pink {
  background-color: #E7006F;
  color: #ffffff;
}

.button-special-pink:hover,
.button-special-pink:focus:not(:focus-visible),
.button-special-pink:active {
  background-color: #9D6D00;
  color: #ffffff;
}

.button-special-yellow {
  background-color: #f3b11c;
  color: #ffffff;
}

.button-special-yellow:hover,
.button-special-yellow:focus:not(:focus-visible),
.button-special-yellow:active {
  background-color: #ff007a;
  color: #ffffff;
}

.button-aircraft {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 36px;
}
.button-aircraft::before {
  content: "";
  display: block;
  margin-right: 10px;
  width: 1.72rem;
  height: 1.11rem;
  background-image: url("../images/icon/hand_drawn/icon_airplane.svg");
  background-repeat: no-repeat;
  background-size: contain;
}
.button-aircraft:hover::before, .button-aircraft:active::before, .button-aircraft:focus:not(:focus-visible)::before {
  background-image: url("../images/icon/hand_drawn/icon_airplane_purple.svg");
}

.form-wrap {
  border-radius: 6px;
  box-shadow: 0 21px 42px 0 rgba(46, 47, 107, 0.1);
  border: solid 1px rgba(113, 50, 255, 0.1);
  background-color: #ffffff;
  padding: 45px 60px 30px;
  margin: 0 auto;
  width: 80%;
}
.form-wrap .title {
  color: #2e2f6b;
  margin-bottom: 15px;
}
.form-wrap p {
  opacity: 0.5;
  font-size: 0.89rem;
  line-height: 1.5;
  letter-spacing: 1px;
  text-align: center;
  color: #111112;
  margin: 0;
}
.form-wrap .button {
  margin: 25px 0 10px;
}
.form-wrap .google-robot {
  width: 300px;
  height: 74px;
  background-image: url("../images/reCAPTCHA.png");
  background-size: cover;
  margin: 10px auto 0;
}
.form-wrap .select-css {
  display: block;
  font-size: 0.89rem;
  letter-spacing: 0.5px;
  line-height: 1.5;
  font-family: "Open Sans", sans-serif;
  color: #0e0e0e;
  padding: 11px 1.5rem 11px 15px;
  width: 100%;
  max-width: 100%;
  min-height: 2.875rem;
  box-sizing: border-box;
  margin: 0 0 15px;
  border: 1px solid #dddddd;
  box-shadow: none;
  border-radius: 2px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #ffffff;
  background-image: url(../images/icon/ui/dropdown.svg);
  background-repeat: no-repeat, repeat;
  background-position: right 15px top 50%, 0 0;
  background-size: 9px, 100%;
}
.form-wrap .select-css:focus {
  border-color: #2e2f6b;
  outline: none;
}
@media (max-width: 1600px) {
  .form-wrap .select-css {
    margin-bottom: 10px;
  }
}
@media (max-width: 1600px) {
  .form-wrap {
    width: 100%;
  }
  .form-wrap .button {
    margin: 20px 0 10px;
  }
}

#nav {
  background-color: #ffffff;
  border-bottom: 1px solid #f4f4f4;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
}
#nav .topbar {
  background-color: #7132ff;
  padding: 9px 30px;
  text-align: center;
}
#nav .topbar a {
  font-size: 0.78rem;
  line-height: 1.3;
  letter-spacing: 0.5px;
  text-align: center;
  color: #ffffff;
  display: block;
}
@media screen and (max-width: 991.98px) {
  #nav .topbar a {
    font-size: 0.67rem;
    letter-spacing: 0;
  }
}
#nav .topbar a:hover, #nav .topbar a:active, #nav .topbar a:focus {
  text-decoration: underline;
}
#nav .menu-wrap {
  list-style-type: none;
}
#nav .menu-wrap li a:not(.button) {
  width: 100%;
  height: 100%;
  font-size: 0.89rem;
  letter-spacing: 0.5px;
  color: #2e2f6b;
}
#nav .menu-wrap li a:not(.button):hover,
#nav .menu-wrap li a.active {
  color: #7132ff;
  text-decoration: none;
}
#nav .pc-nav {
  width: 100%;
  min-height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 991.98px) {
  #nav .pc-nav {
    display: none;
  }
}
#nav .pc-nav .logo-wrap {
  width: 135px;
  height: 40px;
}
#nav .pc-nav .logo-wrap img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
#nav .pc-nav .menu-wrap {
  margin: 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}
#nav .pc-nav .menu-wrap li {
  display: inline-block;
}
#nav .pc-nav .menu-wrap li + li {
  margin-left: 30px;
}
#nav .pc-nav .btn-wrap {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}
#nav .mobile-wrap {
  display: none;
}
@media screen and (max-width: 991.98px) {
  #nav .mobile-wrap {
    display: block;
  }
}
#nav .mobile-wrap .mobile-nav {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #f4f4f4;
}
#nav .mobile-wrap .mobile-nav .logo-wrap {
  width: 118px;
  height: 35px;
}
#nav .mobile-wrap .mobile-nav .logo-wrap img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
#nav .mobile-wrap .mobile-nav .cta-wrap {
  display: inline-flex;
  align-items: center;
}
@media screen and (max-width: 374.98px) {
  #nav .mobile-wrap .mobile-nav .cta-wrap .button {
    display: none;
  }
}
#nav .mobile-wrap .mobile-nav .cta-wrap .menu-btn {
  display: inline-flex;
  flex-direction: column;
  margin-left: 30px;
}
#nav .mobile-wrap .mobile-nav .cta-wrap .menu-btn.active {
  align-items: center;
  justify-content: center;
}
#nav .mobile-wrap .mobile-nav .cta-wrap .menu-btn.active span:nth-of-type(1) {
  transform-origin: 50% 50%;
  transform: translateY(3px) rotate(45deg);
}
#nav .mobile-wrap .mobile-nav .cta-wrap .menu-btn.active span:nth-of-type(2) {
  display: none;
}
#nav .mobile-wrap .mobile-nav .cta-wrap .menu-btn.active span:nth-of-type(3) {
  transform-origin: 50% 50%;
  transform: translateY(-3px) rotate(-45deg);
}
#nav .mobile-wrap .mobile-nav .cta-wrap .menu-btn span {
  width: 18px;
  height: 2px;
  background-color: #7132ff;
  transition: 0.3s;
}
#nav .mobile-wrap .mobile-nav .cta-wrap .menu-btn span + span {
  margin-top: 4px;
}
#nav .mobile-wrap .mobile-menu-wrap {
  display: none;
}
#nav .mobile-wrap .mobile-menu-wrap.active {
  padding: 10px 0 30px;
  width: 100%;
  height: calc(100vh - 109px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: scroll;
}
@media screen and (max-width: 375px) {
  #nav .mobile-wrap .mobile-menu-wrap.active {
    height: calc(100vh - 124px);
  }
}
#nav .mobile-wrap .mobile-menu-wrap.active .menu-wrap {
  margin-bottom: 15px;
}
#nav .mobile-wrap .mobile-menu-wrap.active .menu-wrap li {
  padding: 15px 0;
  border-bottom: 1px solid rgba(113, 50, 255, 0.1);
}
@media screen and (max-width: 374.98px) {
  #nav .mobile-wrap .mobile-menu-wrap.active .menu-wrap li {
    padding: 10px 0;
  }
}
#nav .mobile-wrap .mobile-menu-wrap.active .menu-wrap li a {
  display: block;
}

.full-page {
  width: 100%;
  height: 100vh;
}

#hero {
  background-color: #2e2f6b;
  position: relative;
  height: auto;
  min-height: 720px;
  margin-top: var(--nav-height, 128px);
  padding: 5rem 0;
  background-image: url("../images/illustration/hero_desktop_bg.svg");
  background-position: right top;
  background-repeat: no-repeat;
  background-size: 62.8%;
}
@media screen and (max-width: 991.98px) {
  #hero {
    background-size: 100%;
    margin-top: 109px;
    padding-top: 70%;
    min-height: unset;
    height: auto;
    background-image: url("../images/illustration/hero_mobile_bg.svg");
  }
}
@media screen and (max-width: 375px) {
  #hero {
    margin-top: 124px;
  }
}
@media screen and (max-width: 991.98px) {
  #hero .form-wrap {
    display: none;
  }
}
#hero .text-wrap {
  width: 100%;
  word-break: break-all;
}
#hero .text-wrap .button {
  display: none;
}
@media screen and (max-width: 991.98px) {
  #hero .text-wrap .button {
    display: inline-flex;
    margin: 20px 0 40px;
  }
}
@media screen and (max-width: 575.98px) {
  #hero .text-wrap .button {
    display: flex;
  }
}
#hero .text-wrap h1 {
  color: #01e4b3;
}
#hero .text-wrap p {
  color: #f4f4f4;
}
#hero .text-wrap ul {
  list-style-type: none;
}
#hero .text-wrap ul li {
  font-size: 1rem;
  line-height: 1.75;
  letter-spacing: 1px;
  color: #f4f4f4;
  padding-left: 1.94rem;
  position: relative;
}
#hero .text-wrap ul li::before {
  content: url("../images/icon/ui/check.svg");
  position: absolute;
  left: 0;
  top: 4px;
  width: 1.11rem;
  height: 1.33rem;
}
@media (max-width: 991.98px) {
  #hero .text-wrap ul li::before {
    width: 15px;
    height: 18px;
  }
}
#hero .text-wrap ul li + li {
  margin-top: 5px;
}
@media (max-width: 1600px) {
  #hero .text-wrap ul li {
    font-size: 0.89rem;
  }
}
@media screen and (max-width: 374.98px) {
  #hero .text-wrap ul li {
    font-size: 0.83rem;
  }
}
#hero .scroll-down {
  width: 25px;
  position: absolute;
  left: 50%;
  bottom: 30px;
  transform: translateX(-50%);
  z-index: 999;
}
@media screen and (max-width: 991.98px) {
  #hero .scroll-down {
    display: none;
  }
}
#hero .scroll-down .button-scroll-down {
  padding: 20px;
  position: relative;
  top: 0;
  opacity: 1;
  transition: 0.3s;
}
#hero .scroll-down .button-scroll-down:hover {
  top: 5px;
  opacity: 0.5;
}

#benefits .benefits-wrap {
  display: flex;
  flex-wrap: wrap;
  margin-top: 60px;
}
#benefits .benefits-wrap h5 {
  margin-bottom: 5px;
}
#benefits .benefits-wrap p {
  margin: 0;
  line-height: 1.5;
}
@media (max-width: 1600px) {
  #benefits .benefits-wrap {
    margin-top: 40px;
  }
}
#benefits .benefits-wrap .benefits-item {
  width: calc(50% - 15px);
  padding: 40px 40px 30px;
  border: 1px solid rgba(113, 50, 255, 0.1);
  border-radius: 6px;
  background-color: #ffffff;
  transition: 0.3s;
}
@media (max-width: 1600px) {
  #benefits .benefits-wrap .benefits-item {
    width: calc(50% - 10px);
    padding: 30px 30px 25px;
  }
}
@media screen and (max-width: 991.98px) {
  #benefits .benefits-wrap .benefits-item {
    width: 100%;
    margin-bottom: 15px;
  }
}
@media screen and (max-width: 374.98px) {
  #benefits .benefits-wrap .benefits-item {
    padding: 25px 20px 20px;
  }
}
#benefits .benefits-wrap .benefits-item:nth-child(odd) {
  margin-right: 30px;
}
@media (max-width: 1600px) {
  #benefits .benefits-wrap .benefits-item:nth-child(odd) {
    margin-right: 20px;
  }
}
@media screen and (max-width: 991.98px) {
  #benefits .benefits-wrap .benefits-item:nth-child(odd) {
    margin-right: 0;
  }
}
#benefits .benefits-wrap .benefits-item:nth-child(n+3) {
  margin-top: 30px;
}
@media (max-width: 1600px) {
  #benefits .benefits-wrap .benefits-item:nth-child(n+3) {
    margin-top: 20px;
  }
}
@media screen and (max-width: 991.98px) {
  #benefits .benefits-wrap .benefits-item:nth-child(n+3) {
    margin-top: 0;
  }
}
#benefits .benefits-wrap .benefits-item:hover {
  background-color: rgba(113, 50, 255, 0.05);
}
#benefits .benefits-wrap .benefits-item:hover:nth-child(4n+1), #benefits .benefits-wrap .benefits-item:hover:nth-child(4n+4) {
  background-color: rgba(255, 0, 122, 0.05);
}
#benefits .benefits-wrap .benefits-item .benefits-icon {
  height: 50px;
  margin-bottom: 10px;
}
#benefits .benefits-wrap .benefits-item .benefits-icon img {
  height: 100%;
}

#testimonials {
  background-color: #fafafa;
}
@media screen and (max-width: 991.98px) {
  #testimonials .testimonials-carousel .carousel-inner .carousel-item .img-fluid {
    width: 75%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
}
@media screen and (max-width: 575.98px) {
  #testimonials .testimonials-carousel .carousel-inner .carousel-item .img-fluid {
    width: 100%;
  }
}
#testimonials .testimonials-carousel .carousel-inner .carousel-item .mobile-title {
  display: none;
  font-size: 1.78rem;
  margin-bottom: 36px;
}
@media screen and (max-width: 991.98px) {
  #testimonials .testimonials-carousel .carousel-inner .carousel-item .mobile-title {
    display: block;
  }
}
#testimonials .testimonials-carousel .carousel-inner .carousel-item:nth-child(1) .testimonials-card::after {
  background-image: url(../images/icon/ui/quote_purple.svg);
}
#testimonials .testimonials-carousel .carousel-inner .carousel-item:nth-child(2) .testimonials-card::after {
  background-image: url(../images/icon/ui/quote_green.svg);
}
#testimonials .testimonials-carousel .carousel-inner .carousel-item:nth-child(3) .testimonials-card::after {
  background-image: url(../images/icon/ui/quote_yellow.svg);
}
#testimonials .testimonials-carousel .carousel-inner .carousel-item .testimonials-wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
@media screen and (max-width: 991.98px) {
  #testimonials .testimonials-carousel .carousel-inner .carousel-item .testimonials-wrap .testimonials-header h2 {
    display: none;
  }
}
#testimonials .testimonials-carousel .carousel-inner .carousel-item .testimonials-wrap .testimonials-header .testimonials-card {
  position: relative;
  margin-top: 40px;
  padding-top: 20px;
  padding-right: 50px;
}
@media screen and (max-width: 991.98px) {
  #testimonials .testimonials-carousel .carousel-inner .carousel-item .testimonials-wrap .testimonials-header .testimonials-card {
    margin-top: 12px;
    font-size: 1rem;
  }
}
@media screen and (max-width: 575.98px) {
  #testimonials .testimonials-carousel .carousel-inner .carousel-item .testimonials-wrap .testimonials-header .testimonials-card {
    padding-right: 0;
  }
}
@media screen and (max-width: 374.98px) {
  #testimonials .testimonials-carousel .carousel-inner .carousel-item .testimonials-wrap .testimonials-header .testimonials-card {
    font-size: 0.83rem;
  }
}
#testimonials .testimonials-carousel .carousel-inner .carousel-item .testimonials-wrap .testimonials-header .testimonials-card::after {
  content: "";
  width: 70px;
  height: 70px;
  position: absolute;
  top: 0;
  left: 0;
  background-size: contain;
  background-repeat: no-repeat;
}
#testimonials .testimonials-carousel .carousel-inner .carousel-item .testimonials-wrap .testimonials-footer {
  margin-top: auto;
}
@media screen and (max-width: 991.98px) {
  #testimonials .testimonials-carousel .carousel-inner .carousel-item .testimonials-wrap .testimonials-footer {
    margin: 40px 0;
  }
}
#testimonials .testimonials-carousel .carousel-inner .carousel-item .testimonials-wrap .testimonials-footer > div {
  display: inline-block;
}
#testimonials .testimonials-carousel .carousel-inner .carousel-item .testimonials-wrap .testimonials-footer .testimonials-logo {
  height: 60px;
  margin-right: 20px;
}
@media screen and (max-width: 374.98px) {
  #testimonials .testimonials-carousel .carousel-inner .carousel-item .testimonials-wrap .testimonials-footer .testimonials-logo {
    margin-right: 10px;
  }
}
#testimonials .testimonials-carousel .carousel-inner .carousel-item .testimonials-wrap .testimonials-footer .testimonials-logo.logo-h {
  height: 25px;
}
#testimonials .testimonials-carousel .carousel-inner .carousel-item .testimonials-wrap .testimonials-footer .testimonials-logo img {
  height: 100%;
}
#testimonials .testimonials-carousel .carousel-inner .carousel-item .testimonials-wrap .testimonials-footer .testimonials-position {
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: 0.5px;
}
@media screen and (max-width: 374.98px) {
  #testimonials .testimonials-carousel .carousel-inner .carousel-item .testimonials-wrap .testimonials-footer .testimonials-position {
    font-size: 0.83rem;
  }
}
#testimonials .testimonials-carousel .carousel-control-next,
#testimonials .testimonials-carousel .carousel-control-prev {
  width: 56px;
  opacity: 1;
  background-color: #fafafa;
}
@media screen and (max-width: 991.98px) {
  #testimonials .testimonials-carousel .carousel-control-next,
  #testimonials .testimonials-carousel .carousel-control-prev {
    position: static;
    display: inline-block;
    margin-right: 20px;
  }
}
#testimonials .testimonials-carousel .carousel-control-next:hover .control-wrap,
#testimonials .testimonials-carousel .carousel-control-prev:hover .control-wrap {
  background-color: rgba(46, 47, 107, 0.15);
}
#testimonials .testimonials-carousel .carousel-control-next:focus-within .control-wrap,
#testimonials .testimonials-carousel .carousel-control-prev:focus-within .control-wrap {
  outline: 5px solid #000;
}
#testimonials .testimonials-carousel .carousel-control-next .control-wrap,
#testimonials .testimonials-carousel .carousel-control-prev .control-wrap {
  width: 56px;
  height: 56px;
  background-color: rgba(46, 47, 107, 0.05);
  border-radius: 50%;
  transition: 0.3s;
}
#testimonials .testimonials-carousel .carousel-control-next .control-wrap img,
#testimonials .testimonials-carousel .carousel-control-prev .control-wrap img {
  width: 10px;
  height: 100%;
}

#integrations {
  background-color: #ffffff;
}
#integrations .partners-title {
  opacity: 0.7;
  color: #0e0e0e;
  letter-spacing: 0.5px;
  margin-bottom: 60px;
}
@media screen and (max-width: 1199.98px) {
  #integrations .partners-title {
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 991.98px) {
  #integrations .partners-title {
    margin: 50px 0;
  }
}
@media screen and (max-width: 575.98px) {
  #integrations .button {
    width: 100%;
  }
}
#integrations .partner-wrap {
  display: flex;
  flex-wrap: wrap;
}
@media screen and (max-width: 991.98px) {
  #integrations .partner-wrap {
    justify-content: center;
  }
}
#integrations .partner-wrap .partner-item {
  width: calc(20% - 16px);
  margin-right: 20px;
  filter: grayscale(1);
}
@media screen and (max-width: 575.98px) {
  #integrations .partner-wrap .partner-item {
    width: calc(33.33% - 12px);
    margin-right: 12px;
  }
}
@media screen and (min-width: 575.99px) {
  #integrations .partner-wrap .partner-item:nth-child(5n) {
    margin-right: 0;
  }
  #integrations .partner-wrap .partner-item:nth-child(n+6) {
    margin-top: 35px;
  }
}
@media screen and (max-width: 575.98px) {
  #integrations .partner-wrap .partner-item:nth-child(3n) {
    margin-right: 0;
  }
  #integrations .partner-wrap .partner-item:nth-child(n+4) {
    margin-top: 35px;
  }
}

#services {
  background-color: #fafafa;
  padding-bottom: 0;
}
#services .service-illustration {
  margin-top: 60px;
}
@media screen and (max-width: 991.98px) {
  #services .service-illustration .img-fluid {
    width: 75%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
}
@media screen and (max-width: 575.98px) {
  #services .service-illustration .img-fluid {
    width: 100%;
  }
}
#services .services-feature-wrap h5 {
  margin-bottom: 5px;
}
#services .services-feature-wrap p {
  font-size: 0.89rem;
  margin: 0;
}
#services .services-feature-wrap .services-item {
  padding: 30px;
  border: 1px solid rgba(113, 50, 255, 0.1);
  border-radius: 6px;
  background-color: #ffffff;
  box-shadow: 0 21px 42px 0 rgba(46, 47, 107, 0.1);
  display: flex;
  flex-direction: row;
}
@media screen and (max-width: 991.98px) {
  #services .services-feature-wrap .services-item {
    flex-direction: column;
  }
}
@media screen and (max-width: 374.98px) {
  #services .services-feature-wrap .services-item {
    padding: 20px;
  }
}
#services .services-feature-wrap .services-item + .services-item {
  margin-top: 20px;
}
#services .services-feature-wrap .services-item .services-icon-wrap {
  display: flex;
  margin-right: 30px;
}
#services .services-feature-wrap .services-item .services-icon-wrap .services-icon {
  width: 100px;
}
#services .services-feature-wrap .services-item .service-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
@media screen and (max-width: 374.98px) {
  #services .services-feature-wrap .services-item .service-content p {
    font-size: 0.83rem;
  }
}
#services .cta-service {
  padding: 80px 0;
  margin-top: 120px;
  text-align: center;
  background-color: rgba(46, 47, 107, 0.05);
}
#services .cta-service .title {
  margin-bottom: 30px;
}
@media screen and (max-width: 575.98px) {
  #services .cta-service .title {
    text-align: left;
  }
}
@media screen and (max-width: 374.98px) {
  #services .cta-service .title {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 575.98px) {
  #services .cta-service .button {
    width: 100%;
  }
}
@media (max-width: 1600px) {
  #services .cta-service {
    padding: 70px 0;
    margin-top: 100px;
  }
}
@media screen and (max-width: 991.98px) {
  #services .cta-service {
    margin-top: 50px;
  }
}
@media screen and (max-width: 374.98px) {
  #services .cta-service {
    padding: 50px 0;
  }
}

#how-it-works {
  background-color: rgba(243, 177, 28, 0.05);
  padding-bottom: 0;
}
#how-it-works h2 {
  text-align: center;
}
@media screen and (max-width: 991.98px) {
  #how-it-works h2 {
    text-align: left;
  }
}
#how-it-works .col-lg-3:nth-of-type(1) .works-wrap::before {
  background-color: #7132ff;
  margin: 74px auto 59px;
}
#how-it-works .col-lg-3:nth-of-type(1) .works-wrap::after {
  background-image: url("../images/timeline/curve_up.svg");
}
#how-it-works .col-lg-3:nth-of-type(2) .works-wrap::before {
  background-color: #01e4b3;
  margin: 103px auto 59px;
}
#how-it-works .col-lg-3:nth-of-type(2) .works-wrap::after {
  background-image: url("../images/timeline/curve_down.svg");
}
#how-it-works .col-lg-3:nth-of-type(3) .works-wrap::before {
  background-color: #ff007a;
  margin: 74px auto 59px;
}
#how-it-works .col-lg-3:nth-of-type(3) .works-wrap::after {
  background-image: url("../images/timeline/curve_up.svg");
}
#how-it-works .col-lg-3:nth-of-type(4) .works-wrap::before {
  background-color: #f3b11c;
  margin: 103px auto 59px;
}
@media screen and (max-width: 991.98px) {
  #how-it-works .col-lg-3:nth-of-type(4) .works-wrap::after {
    border: none;
  }
}
#how-it-works .works-wrap {
  position: relative;
}
@media screen and (max-width: 991.98px) {
  #how-it-works .works-wrap {
    margin-top: 40px;
  }
}
#how-it-works .works-wrap::before {
  content: "";
  display: block;
  width: 2.22rem;
  height: 2.22rem;
  border-radius: 100rem;
}
@media screen and (max-width: 991.98px) {
  #how-it-works .works-wrap::before {
    width: 20px;
    height: 20px;
    position: absolute;
    left: 0;
    top: 0;
    margin: 36px 10px 0 !important;
  }
}
#how-it-works .works-wrap::after {
  content: "";
  display: block;
  width: 290px;
  height: 50px;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  left: 65%;
  top: 0;
}
@media screen and (max-width: 1600px) {
  #how-it-works .works-wrap::after {
    width: 220px;
  }
}
@media screen and (max-width: 1199.98px) {
  #how-it-works .works-wrap::after {
    width: 180px;
  }
}
@media screen and (max-width: 991.98px) {
  #how-it-works .works-wrap::after {
    background-image: none !important;
    border-left: 2px dashed rgba(46, 47, 107, 0.3);
    left: 19px;
    top: 65px;
    height: 100%;
  }
}
#how-it-works .works-wrap .works-item {
  background-color: #ffffff;
  border-radius: 6px;
  box-shadow: 0 21px 42px 0 rgba(46, 47, 107, 0.1);
  border: solid 1px rgba(113, 50, 255, 0.1);
  padding: 25px 30px 30px;
}
@media screen and (max-width: 1600px) {
  #how-it-works .works-wrap .works-item {
    padding: 20px 20px 25px;
  }
}
@media screen and (max-width: 991.98px) {
  #how-it-works .works-wrap .works-item {
    background-color: transparent;
    box-shadow: unset;
    padding: 0;
    margin-left: 60px;
    border: none;
  }
}
#how-it-works .works-wrap .works-item .works-icon {
  width: 150px;
  height: 150px;
  margin: 0 auto 15px;
}
@media screen and (max-width: 1600px) {
  #how-it-works .works-wrap .works-item .works-icon {
    width: 120px;
    height: 120px;
  }
}
@media screen and (max-width: 991.98px) {
  #how-it-works .works-wrap .works-item .works-icon {
    width: 80px;
    height: 80px;
    margin: 0 0 5px;
  }
}
#how-it-works .works-wrap .works-item .works-icon img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
#how-it-works .works-wrap .works-item .work-title {
  line-height: 1.5;
  color: #2e2f6b;
  font-weight: bold;
  margin-bottom: 5px;
}
@media screen and (max-width: 991.98px) {
  #how-it-works .works-wrap .works-item .work-title {
    line-height: 1.3;
  }
}
#how-it-works .works-wrap .works-item p {
  font-size: 0.89rem;
  margin: 0;
}
@media screen and (max-width: 991.98px) {
  #how-it-works .works-wrap .works-item p {
    line-height: 1.5;
  }
}
@media screen and (max-width: 374.98px) {
  #how-it-works .works-wrap .works-item p {
    font-size: 0.83rem;
  }
}
#how-it-works .cta-howitworks {
  padding: 80px 0;
  margin-top: 120px;
  text-align: center;
  background-color: rgba(243, 177, 28, 0.1);
}
@media screen and (max-width: 575.98px) {
  #how-it-works .cta-howitworks .button {
    width: 100%;
  }
}
#how-it-works .cta-howitworks .title {
  margin-bottom: 30px;
}
@media screen and (max-width: 575.98px) {
  #how-it-works .cta-howitworks .title {
    text-align: left;
  }
}
@media screen and (max-width: 1600px) {
  #how-it-works .cta-howitworks {
    padding: 70px 0;
    margin-top: 100px;
  }
}
@media screen and (max-width: 991.98px) {
  #how-it-works .cta-howitworks {
    margin: 50px 0 0;
  }
}
@media screen and (max-width: 374.98px) {
  #how-it-works .cta-howitworks {
    padding: 50px 0;
  }
}

#platform {
  position: relative;
  padding: 120px 0 60px;
}
@media (max-width: 1600px) {
  #platform {
    padding: 100px 0 50px;
  }
}
@media screen and (max-width: 991.98px) {
  #platform {
    padding: 50px 0;
  }
}
@media screen and (max-width: 991.98px) {
  #platform .img-wrap {
    width: 75%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
}
@media screen and (max-width: 575.98px) {
  #platform .img-wrap {
    width: 100%;
  }
}
#platform::after {
  content: "";
  display: block;
  width: 100%;
  height: 120px;
  background-color: #fafafa;
  position: absolute;
  z-index: -1;
  bottom: 0;
  left: 0;
}
@media screen and (max-width: 1600px) {
  #platform::after {
    height: 95px;
  }
}
@media screen and (max-width: 1199.98px) {
  #platform::after {
    height: 85px;
  }
}
@media screen and (max-width: 991.98px) {
  #platform::after {
    content: none;
  }
}
#platform .platform-tab-wrap {
  margin-top: 60px;
}
@media screen and (max-width: 1600px) {
  #platform .platform-tab-wrap {
    margin-top: 40px;
  }
}
#platform .platform-tab-wrap .list-group {
  list-style-type: none;
  display: flex;
  flex-direction: row;
}
#platform .platform-tab-wrap .list-group li {
  width: 33.33%;
}
#platform .platform-tab-wrap .list-group li:first-child a {
  border-radius: 6px 0 0 6px;
}
#platform .platform-tab-wrap .list-group li:last-child a {
  border-radius: 0 6px 6px 0;
}
#platform .platform-tab-wrap .list-group li a {
  padding: 20px 0;
  border: none;
  border-radius: 0;
  text-align: center;
  font-size: 0.89rem;
  font-weight: 600;
  line-height: 1;
  letter-spacing: 0.5px;
  background-color: rgba(46, 47, 107, 0.05);
  color: #2e2f6b;
}
@media screen and (max-width: 374.98px) {
  #platform .platform-tab-wrap .list-group li a {
    font-size: 0.83rem;
  }
}
#platform .platform-tab-wrap .list-group li a:hover {
  background-color: rgba(46, 47, 107, 0.15);
}
#platform .platform-tab-wrap .list-group li a.active {
  background-color: #7132ff;
  color: #fafafa;
  position: relative;
}
#platform .platform-tab-wrap .list-group li a.active::after {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  transform: translateX(-50%) rotate(45deg);
  position: absolute;
  bottom: -7px;
  left: 50%;
  background-color: #7132ff;
}
#platform .platform-tab-wrap .tab-content {
  margin-top: 60px;
}
@media screen and (max-width: 1600px) {
  #platform .platform-tab-wrap .tab-content {
    margin-top: 40px;
  }
}
#platform .platform-tab-wrap .tab-content .tab-pane .img-icon {
  width: 40px;
  height: 100%;
  margin-right: 34px;
  float: left;
}
@media screen and (max-width: 991.98px) {
  #platform .platform-tab-wrap .tab-content .tab-pane .img-icon {
    float: none;
  }
}
#platform .platform-tab-wrap .tab-content .tab-pane .img-icon img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
#platform .platform-tab-wrap .tab-content .tab-pane .text-wrap {
  margin-left: 84px;
}
@media screen and (max-width: 991.98px) {
  #platform .platform-tab-wrap .tab-content .tab-pane .text-wrap {
    margin: 10px 0 0;
  }
}
#platform .platform-tab-wrap .tab-content .tab-pane .text-wrap .title {
  margin-bottom: 10px;
}
#platform .platform-tab-wrap .tab-content .tab-pane .text-wrap p {
  margin: 0;
}
@media screen and (max-width: 1600px) {
  #platform .img-wrap {
    margin-top: 100px;
  }
}
@media screen and (max-width: 1199.98px) {
  #platform .img-wrap {
    margin-top: 155px;
  }
}
@media screen and (max-width: 991.98px) {
  #platform .img-wrap {
    margin: 30px 0 0;
  }
}
#platform .img-wrap img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

#faq {
  padding: 60px 0 120px;
  background-color: #fafafa;
}
@media (max-width: 1600px) {
  #faq {
    padding: 50px 0 100px;
  }
}
@media screen and (max-width: 991.98px) {
  #faq {
    padding: 50px 0;
  }
}
#faq h2 {
  text-align: center;
  margin-bottom: 60px;
}
@media (max-width: 1600px) {
  #faq h2 {
    margin-bottom: 40px;
  }
}
@media screen and (max-width: 991.98px) {
  #faq h2 {
    text-align: left;
    margin-bottom: 30px;
  }
}
#faq .faq-wrap .faq-item {
  padding: 17px 20px 18px;
  border-bottom: 1px solid #dddddd;
}
@media screen and (max-width: 991.98px) {
  #faq .faq-wrap .faq-item {
    padding: 15px 0;
  }
}
#faq .faq-wrap .faq-item .faq-header span {
  display: block;
  font-size: 1rem;
  line-height: 1.75;
  letter-spacing: 1px;
  color: #111112;
  position: relative;
  margin: 0;
  cursor: pointer;
  transition: 0.3s;
}
@media (max-width: 1600px) {
  #faq .faq-wrap .faq-item .faq-header span {
    font-size: 0.89rem;
  }
}
@media screen and (max-width: 991.98px) {
  #faq .faq-wrap .faq-item .faq-header span {
    padding-right: 34px;
    font-size: 0.89rem;
  }
}
@media screen and (max-width: 374.98px) {
  #faq .faq-wrap .faq-item .faq-header span {
    font-size: 0.8rem;
  }
}
#faq .faq-wrap .faq-item .faq-header span::after {
  content: "";
  display: block;
  width: 14px;
  height: 8px;
  position: absolute;
  right: 0;
  top: 50%;
  transform-origin: 50% 50%;
  transform: translateY(-50%) rotate(180deg);
  background-image: url("../images/icon/ui/angle_up.svg");
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}
@media screen and (max-width: 991.98px) {
  #faq .faq-wrap .faq-item .faq-header span::after {
    top: 15px;
  }
}
#faq .faq-wrap .faq-item .faq-header span:hover {
  cursor: pointer;
  color: #7132ff;
  text-decoration: none;
}
@media screen and (max-width: 991.98px) {
  #faq .faq-wrap .faq-item .faq-header span:hover {
    color: #111112;
  }
}
#faq .faq-wrap .faq-item .faq-header.active span {
  font-weight: bold;
  color: #2e2f6b;
}
@media screen and (max-width: 991.98px) {
  #faq .faq-wrap .faq-item .faq-header.active span {
    color: #111112;
  }
}
#faq .faq-wrap .faq-item .faq-header.active span::after {
  transform: translateY(-50%) rotate(0deg);
}
#faq .faq-wrap .faq-item .faq-body {
  font-size: 0.89rem;
  padding-right: 55px;
  overflow: hidden;
  height: 0;
  transition: 0.3s;
}
#faq .faq-wrap .faq-item .faq-body.active {
  margin-top: 15px;
  height: auto;
}
@media (max-width: 1600px) {
  #faq .faq-wrap .faq-item .faq-body {
    font-size: 0.89rem;
  }
}
@media screen and (max-width: 991.98px) {
  #faq .faq-wrap .faq-item .faq-body {
    font-size: 0.89rem;
    color: #111112;
  }
}
@media screen and (max-width: 374.98px) {
  #faq .faq-wrap .faq-item .faq-body {
    font-size: 0.83rem;
  }
}

#get-started {
  position: relative;
}
#get-started .bg {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  bottom: 0;
  right: 0;
  background-color: #192330;
}
#get-started .bg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: right bottom;
}
@media screen and (max-width: 991.98px) {
  #get-started .bg img {
    object-fit: contain;
  }
}
@media screen and (max-width: 991.98px) {
  #get-started .form-wrap {
    padding: 30px;
    margin-bottom: 70px;
    max-width: 490px;
  }
}
@media screen and (max-width: 575.98px) {
  #get-started .form-wrap {
    padding: 23px 20px 20px;
    max-width: 100%;
  }
}
@media screen and (max-width: 374.98px) {
  #get-started .form-wrap {
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media screen and (max-width: 991.98px) {
  #get-started .form-wrap h5 {
    font-size: 1.78rem;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 575.98px) {
  #get-started .form-wrap h5 {
    font-size: 1.22rem;
  }
}
@media screen and (max-width: 991.98px) {
  #get-started .form-wrap input,
  #get-started .form-wrap textarea {
    font-size: 0.89rem;
  }
}
@media screen and (max-width: 374.98px) {
  #get-started .form-wrap input,
  #get-started .form-wrap textarea {
    font-size: 0.83rem;
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media screen and (max-width: 374.98px) {
  #get-started .form-wrap input::placeholder,
  #get-started .form-wrap textarea::placeholder {
    font-size: 0.83rem;
  }
}
@media screen and (max-width: 991.98px) {
  #get-started .form-wrap p {
    font-size: 0.78rem;
  }
}
#get-started .form-wrap .google-robot {
  width: 100%;
}
@media screen and (max-width: 991.98px) {
  #get-started .form-wrap .select-css {
    font-size: 0.89rem;
  }
}
@media screen and (max-width: 374.98px) {
  #get-started .form-wrap .select-css {
    font-size: 0.83rem;
    padding-left: 10px;
    padding-right: 10px;
    background-position: right 10px top 50%, 0 0;
  }
}
#get-started .form-wrap .button {
  margin: 15px 0 5px;
}
@media screen and (max-width: 991.98px) {
  #get-started .form-wrap .button .pc-text {
    display: none;
  }
}
#get-started .form-wrap .button .mobile-text {
  display: none;
}
@media screen and (max-width: 991.98px) {
  #get-started .form-wrap .button .mobile-text {
    display: inline;
  }
}
#get-started .address-wrap {
  margin: 55% 0 0 46%;
  padding: 30px;
  border-radius: 6px;
  box-shadow: 0 21px 42px 0 rgba(46, 47, 107, 0.1);
  border: solid 1px rgba(113, 50, 255, 0.1);
  background-color: #ffffff;
  display: inline-flex;
  align-items: center;
}
@media screen and (max-width: 1600px) {
  #get-started .address-wrap {
    margin: 66% 0 0 36%;
  }
}
@media screen and (max-width: 1440px) {
  #get-started .address-wrap {
    margin: 66% 0 0 24%;
  }
}
@media screen and (max-width: 1280px) {
  #get-started .address-wrap {
    margin: 66% 0 0 11%;
  }
}
@media screen and (max-width: 991.98px) {
  #get-started .address-wrap {
    padding: 20px 25px;
    margin: 110% 0 0;
    display: flex;
  }
}
@media screen and (max-width: 575.98px) {
  #get-started .address-wrap {
    margin: 80% 0 0;
    transform: translateY(30px);
  }
}
@media screen and (max-width: 374.98px) {
  #get-started .address-wrap {
    margin: 70% 0 0;
    transform: translateY(55%);
  }
}
#get-started .address-wrap .logo-wrap {
  width: 56px;
  height: 60px;
  margin-right: 28px;
}
@media screen and (max-width: 575.98px) {
  #get-started .address-wrap .logo-wrap {
    display: none;
  }
}
#get-started .address-wrap .logo-wrap img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#get-started .address-wrap .text-wrap .title {
  color: #2e2f6b;
}
#get-started .address-wrap .text-wrap p {
  font-size: 0.78rem;
  line-height: 1;
  letter-spacing: 0.5px;
  color: #0e0e0e;
  margin: 10px 0 0;
}
@media screen and (max-width: 991.98px) {
  #get-started .address-wrap .text-wrap p {
    font-size: 0.72rem;
    margin: 8px 0 0;
  }
}

footer {
  background-color: #192330;
  height: 76px;
}
footer .copyright {
  font-size: 0.89rem;
  line-height: 76px;
  letter-spacing: 0.5px;
  color: #ffffff;
  text-align: center;
  margin: 0;
}
@media screen and (max-width: 374.98px) {
  footer .copyright {
    font-size: 0.83rem;
  }
}

#submitSuccessModal .modal-dialog {
  max-width: 480px;
}
#submitSuccessModal .modal-dialog .modal-content {
  border: none;
  border-radius: 6px;
  overflow: hidden;
}
#submitSuccessModal .modal-dialog .modal-content .modal-header {
  display: block;
  padding: 0;
  border: none;
  position: relative;
}
#submitSuccessModal .modal-dialog .modal-content .modal-header .modal-cover {
  width: 100%;
}
#submitSuccessModal .modal-dialog .modal-content .modal-header .close {
  position: absolute;
  top: 10px;
  right: 10px;
  margin: 0;
  opacity: 1;
  padding: 8px 17px;
}
#submitSuccessModal .modal-dialog .modal-content .modal-header .close:hover {
  opacity: 0.5;
}
#submitSuccessModal .modal-dialog .modal-content .modal-header .close span {
  font-size: 2.22rem;
  font-weight: 400;
  color: #ffffff;
}
#submitSuccessModal .modal-dialog .modal-content .modal-body {
  padding: 30px 30px 40px;
}
#submitSuccessModal .modal-dialog .modal-content .modal-body p {
  text-align: center;
  margin: 0;
}
#submitSuccessModal .modal-dialog .modal-content .modal-body .modal-title {
  text-align: center;
  line-height: 1.25;
  margin-bottom: 10px;
}
@media (max-width: 575.98px) {
  #submitSuccessModal .modal-dialog {
    max-width: calc(100% - 60px);
    margin: 0 auto;
  }
  #submitSuccessModal .modal-dialog .modal-content .modal-header .close {
    top: 5px;
    right: 5px;
  }
  #submitSuccessModal .modal-dialog .modal-content .modal-body {
    padding: 20px 30px 30px;
  }
}

.jump-content {
  background-color: #E7006F !important;
  color: #ffffff !important;
  padding: 10px;
}
.jump-content:focus-visible {
  outline: 5px solid #111112;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

/*# sourceMappingURL=style.css.map */
