// fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap');

$font-title: 'Aileron', 'Open Sans', sans-serif;
$font-sans: 'Open Sans', sans-serif;

// Primary Colors
$color-green: #01e4b3;
$color-purple: #7132ff;
$color-blue: #2e2f6b;
$color-pink: #ff007a;
$color-aria-pink: #E7006F;
$color-yellow: #f3b11c;
$color-aria-yellow: #9D6D00;
$color-black: #0e0e0e;
$color-light-black: #111112;
$color-gray: #f4f4f4;
$color-light-gray: #fafafa;
$color-border-gray: #dddddd;
$color-white: #ffffff;

// System Colors
$color-success: #6ec800;
$color-danger: #eb4646;